/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    /* Thuộc tính scroll-behaviorxác định hành vi
    cuộn cho hộp cuộn khi nó đến từ các API điều hướng hoặc CSSOM. */
    font-family: Arial, Helvetica, sans-serif;
}

/*
1. từ ngoài vào trong
2. từ trên xuống dưới
3. Tổng quan đến chi tiết
*/


/* 1. Vị trí
2. kích thước (width and height )
3. màu sắc
4. kiểu dáng (kiểu chữ, hình tròn. vuông....) */

/* Common */
.clear{
    clear: both;
}
/* sử dụng để clear css  */

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    /* không cho vật thể va chạm vật thể trên khi sử dụng padding chiếm thêm diện tích  */
    border: 0px solid #000;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

/* Main  */
#main{

}
#header{
    position: fixed;
    height: 46px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav > li:hover > a , #nav .subnav li:hover{
    background-color: #ccc;
    color: black;
}

#nav li{
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    /* Thuộc tính text-transformxác định cách sử dụng chữ in hoa cho văn bản của một phần tử.
    Điều này cho phép văn bản chỉ được viết bằng chữ hoa,
    chữ thường hoặc mỗi từ bắt đầu bằng viết hoa.
    Điều này cũng cải thiện khả năng đọc cho các văn bản có chú thích */
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    top: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav > li{
    display: block;
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav:hover{
    display: block;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
    /* bất kì thứ gì bấm vào được chuyển con trở chuột thành bàn tay  */
}

#header .menu-icon,
#header .search-icons{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/Slider/slider1.jpg') top center / cover no-repeat;
    /* Chỉ hiển thị hình nền một lần cũng được thuộc background-repeat tính chỉ định */
    /* background-position "top-center" tính được sử dụng để chỉ định vị trí của hình nền. */
    /* Thuộc background-size "cover" tính chỉ định kích thước của hình nền. */
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* cách 1
    left: 50%;
    transform: translateX(-50%); */
    /* cách 2
    right: 0;
    left: 0; */
    /* cách 3 */
    width: 100%;
    text-align: center;
    /* c1 , c2 , c3 ; là các cách căn chỉnh vị trí  */
}

#slider .text-heading{
    font-weight: 500;
    font-size: 30px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
}

#content{

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    /* căn chỉnh vị trí dòng chữ  */
    letter-spacing: 4px;
    /* khoảng cách giữa các chữ */
}

#content .section-subheading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    /* căn chỉnh 2 bên lề bằng nhau */
    line-height: 1.5;
    /* khoảng cách giữa các dòng chữ  */
}

#content .member-list{
    margin-top: 32px;
    /* overflow: hidden; */
    /* c1 cách giải quyết vấn đề của thuộc tính float thể cha không ôm hết vật thể con */
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    /* bo tròn vật thể  */
}

/* Tour-section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    list-style: none;
    /* dùng để bỏ dấu chấm hay thuộc tính của thẻ ul li  */
    margin: 40px 8px;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    /* đường viền dưới cùng các thuộc tính độ rộng , kiểu đường viền , màu sắc  */
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    /* vị trí về bên phải trong thẻ cha của nó  */
    /* thẻ đang là inline thêm float vào thuộc tính của nó sẽ là display bằng block  */
    background-color: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    /* phải có thuộc tính float thì display mới có thuộc tính block mới đặt được width và height */
    border-radius: 50%;
    /* bo viền 50% sẽ bo thành hình tròn  */
    text-align: center;
    /* căn giữa chữ từ trái qua phải  */
    line-height: 24px;
    /* căn giữa từ trên xuống dưới  */
    margin: -3px 16px 0px 0px;
    /* muốn dùng margin âm thì bắt buộc dùng float mới dùng được  */
    padding: 0 8px;
}

/* Places  */

.place-list{
    padding: 16px 8px;
    /* muốn dùng margin âm thì bắt buộc dùng float mới dùng được dùng float ở thẻ con vẫn đc cho thẻ cha */
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-img{
    display: block;
    /* phần tử inline đứng cạnh tạo ra khoảng cách sử lý chuyển thành bloc  */
    width: 100%;
    /* kích thước vật thể bằng kích thước cha chứa nó  */
}

.place-img:hover{
    opacity: 0.6;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
    padding-top: 15px;
}

.place-time{
    color: #757575;
    margin-top: 15px;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
    margin: 15px 0px;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    /* cho cái item con của chính thẻ cha này căn giữa dọc  */
    justify-content: center;
    /* cho cái item con của chính thẻ cha này căn giữa ngang  */
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    /* bảng hiện ra khi co nhỏ chiều ngang vẫn cách 2 bên 16px  */
    min-height: 200px;
    position: relative;
    /* Phần tử được định vị so với bình thường
    vị trí của nó, vì vậy "left: 20px" đã thêm 20 pixel vào phần tử TRÁI vị trí */
    animation: modalFadeIn ease 0.5s;
    /* CSS cho phép tạo hoạt ảnh cho các phần tử
    HTML mà không cần sử dụng JavaScript hoặc Flash! */
    /* ease- Chỉ định một hoạt ảnh có bắt đầu chậm,
    sau đó nhanh, sau đó kết thúc chậm (đây là mặc định) */
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    /* Phần tử được định vị
    tương ứng với tổ chức phần tử được định vị đầu tiên (không phải là tĩnh) của nó
    ở đây chính là thẻ cha chưa position là relative*/
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    /* bất kì thứ gì bấm vào được chuyển con trở chuột thành bàn tay  */
}

.modal-close:hover{
    background-color: #ccc;
}

.modal-body{
    padding: 16px;
}

.modal-label {
    display: block;
    /* mỗi vật thể trên 1 hàng ngang  */
    font-size: 15px;
    margin-bottom: 12px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
    display: block;
    cursor: pointer;
    text-align: center;
    margin: 16px 0;
}

#buy-tickets:hover{
    background-color: #ccc;
}

.modal-footer {
    padding: 16px;
    text-align: right;

}

.modal-footer a {
    color: #2196f3;
}

@keyframes modalFadeIn {
    /* tạo ra hình ảnh chuyển động */
    from {
        opacity: 0;
        transform: translateY(-140px);
        /* Thuộc transform tính áp dụng chuyển đổi 2D hoặc 3D cho một phần tử.
        Thuộc tính này cho phép bạn xoay, chia tỷ lệ, di chuyển, xiên, v.v., các phần tử */
    }
    /* bắt đầu từ */
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    /* kết thúc  */
}

/* Contact from  */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-form .btn:hover{
    color: #000;
    background-color: #ccc;
}

.map-section img{
    width: 100%;
    filter: grayscale(50%);
    /* Thuộc tính CSS filtercho phép áp dụng các bộ lọc và có được các hiệu ứng đồ họa làm mờ,
    bão hòa, v.v.
    Bộ lọc thường được sử dụng để điều chỉnh việc hiển thị hình ảnh, nền hoặc đường viền. */
}
/* Footer section  */
#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright {
    font-size: 15px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}
